
    .container{
        width:800px;
        height:500px;
        margin: 0 auto;
        background: black;
        position: relative;
    }
    .slider_wrapper{
        width: 680px;
        height:420px;
        margin: 0 auto;
        padding-top: 40px;
        position: relative;
        overflow: hidden;
    }
    #image_slider{
        position: absolute;
        list-style: none;
        overflow: hidden;
        float: left;
        padding:0px;
        margin:0px;
    }
    #image_slider li{
        position: relative;
        float: left;
    }
    .btn{
        position:absolute;
        top: 120px;
        height: 50px;
        width: 30px;
        opacity: 0.6;
    }
    #prev{
        background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
        left: 0px;
        cursor: pointer;
        padding-top: 170px;
    }
    #next{
        background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
        right: 0px;
        cursor: pointer;
        padding-top: 170px;
    }
